@model int
@{
    ViewData["Title"] = "DetailView";
}

<h2>Detail view</h2>
<div>Product ID is @Model</div>
@(Html.DevExpress()
                .BootstrapHyperLink("MyBackHyperLink")
                .Text("Back")
                .NavigateUrl(Url.Action("GridView", "Sample")))